*{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main h1 {
  color: rebeccapurple;
  font-size: 40px;
}

.main li {
  list-style: none;
}

.answer-button {
  width: 500px;
  color: #fff;
  background-color: rgb(168, 113, 222);
  margin-bottom: 20px;
  padding: 30px;
  font-size: 20px;
  border-radius: 30px;
}

.answer-button.active {
  background-color: rgb(87, 41, 133);
}

.next {
  padding: 10px;
  font-size: 14px;
  background-color: blueviolet;
  color: #fff;
  border-radius: 30px;
}

.answerDiv {
  display: flex;
  justify-content: center;
}

